#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

body{
	font-family: 'Orbitron', sans-serif;}}


 .jumbotron {border:yellow 3px solid; 
 		padding:40px 40px 40px 40px; 
 		background-color: gray; 
 		width:40%;
 		position: absolute;
 		top: 25%;
 	}

 	.row { color: yellow;
 		border-radius: 5px;
 		font-size: 20px;
 		padding:.5%;
 		background-color: black; 
 		width:70%;
 		position: absolute;
		text-align: center;
		top: 3%;
		left: 15%;

 	}


.mainArea {
 		padding:20px;
 		background-color: gray; 
 		width:60%;
 		left:18%;
 		position: absolute;
 		border-radius: 5px;
 		text-align: center;}

.btn {color: black}

.answer:hover {
  background: yellow;
}

.answer {
  padding:4% 4% ; 
  height: 5px;
  width: 80%;
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  
}



